#container {
	width:600px;
	height:400px;
	position:relative;
	background:yellow;
}
#drawCanvas {
	width:600px;
	height:400px;
	position:relative;
	background:blue;
}
#animation{
	width:80px;
	height:80px;
	position:absolute;
	background:red;
}
#canvas{
	width:400px;
	height:400px;
	position:relative;
	background:grey;
}
#movable{
	width:80px;
	height:80px;
	left:0px;
	top:0px;
	position:absolute;
	background:green;
}