table{
	margin:0px;
}

#drawCanvas {
	width:100%;
	height:600px;
	position:relative;
	background:red;
	border-color:black;
	border:10px;
	border-radius:5px;
}
#nodesTable{
	width:200px;
	height:800px;
	position:relative;
	background:white;
}
#messages{
	width:800px;
	height:100px;
	border-style:solid;
	border-width:5px;
	border-radius:10px;
}
#messageBox{
	width:800px;
	height:80px;
	border-width:0px;
}
#canvas{
	width:400px;
	height:400px;
	position:relative;
	background:grey;
}
#movable{
	width:80px;
	height:80px;
	left:0px;
	top:0px;
	position:absolute;
	background:green;
}

#dateTable{
	border:1px solid;
	border-collapse:collapse;
}

#regularRow{
	border-color:black;
	color:black;
}

#selectedRow{
	border-color:blue;
	color:blue;
}

#nodeControlPanel{
	border:0px;
	border-collapse:collapse;
	visibility:collapse;
}

#edgeControlPanel{
	border:0px;
	border-collapse:collapse;
	visibility:collapse;
}

#toolbar{
	background-color:#2d2d2d; 
	width:250px;
}

input[type=button]{
	background-color:#cccccc;
	border:4px;
	font-size:16px;
	font-family:verdana;
	margin-left:5%;
	margin-top:5px;
	border-radius:2px;
	width:90%;
	height:22px;
}

input[type=button]:hover{
	background-color:#adabab;
}
}
