.mainTable{
	height:100%;
	margin-bottom:5px;
}

.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.seperator{
	border-top:2px solid white;
	width:100%;
	height:10px;
	margin-top:15px;
	margin-bottom:15px;
}

.closebtn{
	color: #2d2d2d;
    float: right;
	margin-right:10px;
    font-size: 28px;
    font-weight: bold;
}

.closebtn:hover,
.closebtn:focus{
	color: black;
    text-decoration: none;
    cursor: pointer;
}

.hider{
	visibility:hidden;
	background-color:black;
	opacity:0.4;
	z-index:2;
	margin-left:0;
	margin-top:0;
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
}

.popupLogin{
	visibility: hidden;
    width: 35%;
	height:55%;
    background-color: #e8e8e8;
    color: #555;
    text-align: center;
    border-radius: 10px;
	border:2px solid;
	border-color:black;
    padding: 0px 0;
	left:30%;
	top:10%;
    position: absolute;
    z-index: 3;
    margin-left:100px;
	margin-bottom:100px;
}

.popupLoginShow{
	visibility: visible;
    -webkit-animation: fromTop 1s;
    animation: fromTop 1s
}

.popuptext{
    visibility: hidden;
    width: 200px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    margin-left:20px;
	margin-bottom:-10px;
}

.popupShow {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
}

table{
	margin-top:0;
	width:100%;
	height:10px;
}

body{
	background-color:#e8e8e8;
}

@-webkit-keyframes fromTop{
	from {top:-200px;}
	to {top:10%}
}

@keyframes fromTop{
	from {top:-200px;}
	to {top:10%}	
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}

.frame{
	margin:2px;
	padding:2px;
	border:none;
	width:95%;
	height:85%;
}

.sidenav {
    height: 100%; /* 100% Full-height */
    width: 250px; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

.sidenav .hidebtn {
    position: absolute;
    top: 4px;
    right: 10px;
	background-color:#d80003;
	color:white;
	border-radius:5px;
	border:0;
    font-size: 12px;
    margin-left: 25px;
}

.sidenav .hidebtn:hover{
	background-color:#700000;
}

.redButton{
	background-color:#d80003;
	margin-left:4px;
	border:0;
	border-radius:5px;
	color:white;
}

.redButton:hover{
	background-color:#700000;
}

.greenButton{
	background-color:#45a049;
	margin-left:4px;
	border:0;
	border-radius:5px;
	color:white;
}

.greenButton:hover{
	background-color:#459249;
}

#main {
    transition: margin-left .5s;
	margin-left:250px;
    padding: 0;
}

#drawCanvas {
	height:100%;
	position:relative;
	background:white;
	border-style:solid;
	border-color:black;
	border-width:2px;
	border-radius:5px;
	width:100%;
}

#nodesTable{
	width:100%;
	height:100%;
	margin-left:5px;
	position:relative;
}	

#messages{
	margin-left:5px;
}

#messageBox{
	width:800px;
	height:80px;
	border-width:0px;
}
#canvas{
	width:400px;
	height:400px;
	position:relative;
	background:grey;
}
#movable{
	width:80px;
	height:80px;
	left:0px;
	top:0px;
	position:absolute;
	background:green;
}

#dataTable{
	border:1px;
	border-color:black;
	border-radius:6px;
	background-color:#4E4D4E;
	color:white;
}

#regularRow{
	color:white;
	border:1px;
}

#selectedRow{
	background-color:#2d2d2d;
	color:white;
}

#nodeControlPanel{
	border:0px;
	border-collapse:collapse;
	visibility:collapse;
}

#edgeControlPanel{
	border:0px;
	border-collapse:collapse;
	visibility:collapse;
}

#toolbar{
	background-color:#2d2d2d; 
	color:white;
	height:800px;
}

#showToolbar{
	background-color:#2d2d2d;
	color:white;
	font-size:14px;
	height:0;
	transition:0.5s;
}



#showToolBar:hover{
	background-color:#4f4f4f;
}

input[type=button]{
	background-color:#cccccc;
	border:4px;
	font-size:16px;
	font-family:verdana;
	margin-left:5%;
	margin-top:5px;
	border-radius:2px;
	width:90%;
	height:22px;
}

input[type=button]:hover{
	background-color:#adabab;
}


#popupLogin input{
	width:200px;
	padding: 8px 10px;
	margin:6px 0;
	display:inline-block;
	border:1px solid #ccc;
	border-radius:4px;
	box-sizing:border-box;
}

#popupLogin input[type=submit]{
	width:40%;
	height:40px;
	font-size:16px;
	background-color:#45a049;
	color:white;
	padding:8px 10px;
	margin:8px 0;
	border:none;
	border-radius:4px;
}

#popupLogin input[type=submit]:hover{
	background-color:#459249;
}